.DecLearning-title{
    display: inline-block;
    font-weight: 400;
    margin: 2%;
}

.Download-Link{
    display: inline-block;
}

.auth-link{
    display: inline-block;
    margin: 2%;
}

.subject-title{
    display: inline-block;
    margin: 1%;
    font-weight: 300;
    color: rgb(0,123,181);
}

.title-bar{
    border-bottom: 3px rgb(0,123,181) solid;
}