.DecLearning-title{
    display: inline-block;
    font-weight: 400;
    margin: 2%;
}

.Download-Link{
    display: inline-block;
}

.Content-Link{
    display: inline-block;
    margin: 2% 1% 2% 2%;
}

.auth-link{
    display: inline-block;
    margin: 2%;
}

.subject-title{
    display: inline-block;
    margin: 1%;
    font-weight: 300;
    color: rgb(0,123,181);
}

.title-bar{
    border-bottom: 3px rgb(0,123,181) solid;
    /* white-space: nowrap; */
}

.side-nav-div{
    padding: 2%;
    border-right: 3px rgb(0,123,181) solid;
    max-width: 22%;
    height: 100%;
    position: absolute;
    overflow: scroll;
}

#app{
    height: 100% !important;
    width: 100% !important;
    position: absolute;
}

/*Use media queries when things don't exactly look right for certain sizes*/
.higher-order-content-container-div{
    margin-left: 23%;
    padding: 2% 2% 3% 0%;
}

.rp-button{
    float: right;
    margin: 1% 0% 1% 1%;
}

.submit-problem{
    padding-top: 3%;
}

.submit-problem-button{
    margin-top: 2%;
}
/*55-172-113*/

.editH3{
    padding-top: 1%;
}

.AboutUs-Container{
    text-align: center;
    width: 100%;
    padding: 5%;
}

body {
    height: 100%;
 }

 html{
     height: 100%;
 }

 .subject{
     display: inline-block;
     width: 40%;
     padding: 3em;
     border: black solid 2px;
     text-align: center;
     margin: 2.5% 5% 2.5% 5%;

 }
